<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="depthCamera" params="camID name *origin">
    <joint name="camera_joint_${name}" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="trunk"/>
      <child link="camera_${name}"/>
    </joint>

    <link name="camera_${name}">
      <visual>
        <geometry>
          <mesh filename="file://$(find unitree_go1_description)/meshes/depthCamera.dae"/>
        </geometry>
      </visual>
    </link>

    <joint name="camera_optical_joint_${name}" type="fixed">
      <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
      <parent link="camera_${name}"/>
      <child link="camera_optical_${name}"/>
    </joint>

    <link name="camera_optical_${name}"/>
  </xacro:macro>
</robot>