<?xml version="1.0"?>
<robot name="cyber_dog" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:arg name="GAZEBO" default="false"/>

	<xacro:if value="$(arg GAZEBO)">
		<xacro:include filename="gazebo.xacro"/>
	</xacro:if>

	<xacro:include filename="$(find magicdog_description)/xacro/robot.xacro"/>

</robot>