MICRODUCK_REPO=../microduck
MICRODUCK_RL_REPO=../microduck_rl
MICRODUCK_ROBOTD_SOCKET=/run/robotd.sock
MICRODUCK_BODY_HOST=127.0.0.1
MICRODUCK_BODY_PORT=7801
MICRODUCK_STUDIO_HOST=0.0.0.0
MICRODUCK_STUDIO_PORT=8090
MICRODUCK_STUDIO_ENABLE_JOBS=false
