<?xml version='1.0' encoding='utf-8'?>
<robot name="x2t2.5">
  <mujoco>
    <compiler meshdir="meshes" discardvisual="false" />
  </mujoco>
  <link name="pelvis">
    <inertial>
      <origin xyz="-0.001209 -2.3e-05 -0.002011" rpy="0 0 0" />
      <mass value="3.523487" />
      <inertia ixx="0.0126" ixy="0.0" ixz="0.000163" iyy="0.007924" iyz="-5e-06" izz="0.012417" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/pelvis.STL" />
      </geometry>
      <material name="">
        <color rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/pelvis.STL" />
      </geometry>
    </collision>
  </link>
  <link name="imu_in_pelvis_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/imu_in_pelvis_link.STL" />
      </geometry>
    </visual>
  </link>
  <joint name="imu_in_pelvis_joint" type="fixed">
    <origin xyz="0.0239464627920677 -0.00022868187247424 0.0417100000000296" rpy="0 0 0" />
    <parent link="pelvis" />
    <child link="imu_in_pelvis_link" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="left_hip_pitch_link">
    <inertial>
      <origin xyz="0.00791 0.064136 0.000116" rpy="0 0 0" />
      <mass value="1.399682" />
      <inertia ixx="0.007995" ixy="0.000739" ixz="0.0" iyy="0.001639" iyz="1e-06" izz="0.007409" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/left_hip_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    
  </link>
  <joint name="left_hip_pitch_joint" type="revolute">
    <origin xyz="0 0.0713499997541465 0" rpy="0 0 0" />
    <parent link="pelvis" />
    <child link="left_hip_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.704" upper="2.556" effort="120" velocity="11.936" />
  </joint>
  <link name="left_hip_roll_link">
    <inertial>
      <origin xyz="4.7e-05 0.000231 -0.093505" rpy="0 0 0" />
      <mass value="1.584804" />
      <inertia ixx="0.017671" ixy="-4e-06" ixz="-6.6e-05" iyy="0.018102" iyz="-2.2e-05" izz="0.002515" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/left_hip_roll_link.STL" />
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/left_hip_roll_link.STL" scale="1.0 0.9 1.0" />
      </geometry>
    </collision>
  </link>
  <joint name="left_hip_roll_joint" type="revolute">
    <origin xyz="-0.000574999999960968 0.0657000000000312 0" rpy="0 0 0" />
    <parent link="left_hip_pitch_link" />
    <child link="left_hip_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.235" upper="2.906" effort="120" velocity="11.936" />
  </joint>
  <link name="left_hip_yaw_link">
    <inertial>
      <origin xyz="-0.002375 0.003914 -0.144276" rpy="0 0 0" />
      <mass value="2.010551" />
      <inertia ixx="0.051974" ixy="-7.1e-05" ixz="0.001419" iyy="0.052639" iyz="-0.001453" izz="0.002467" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/left_hip_yaw_link.STL" />
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
  <collision>
      <origin xyz="0 0 -0.03" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.055" length="0.03" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.018 0 -0.06" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.042" length="0.03" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.018 0 -0.10" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.042" length="0.03" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.01 0 -0.18" rpy="1.571 0 0" />
      <geometry>
        <cylinder radius="0.058" length="0.055" />
      </geometry>
    </collision>
    
  </link>
  <joint name="left_hip_yaw_joint" type="revolute">
    <origin xyz="0.000574999999972778 0 -0.136850000000045" rpy="0 0 0" />
    <parent link="left_hip_roll_link" />
    <child link="left_hip_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-1.684" upper="3.43" effort="120" velocity="11.936" />
  </joint>
  <link name="left_knee_link">
    <inertial>
      <origin xyz="-0.002655 0.003681 -0.122697" rpy="0 0 0" />
      <mass value="1.568215" />
      <inertia ixx="0.030979" ixy="-4.5e-05" ixz="0.00017" iyy="0.030995" iyz="-0.000494" izz="0.001942" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/left_knee_link.STL" />
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/left_knee_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_knee_joint" type="revolute">
    <origin xyz="-0.00765999999995284 0.000225000000070329 -0.18309999999998" rpy="0 0 0" />
    <parent link="left_hip_yaw_link" />
    <child link="left_knee_link" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="2.4073" effort="120" velocity="11.936" />
  </joint>
  <link name="left_ankle_pitch_link">
    <inertial>
      <origin xyz="0.011691 -0.000181 0.003548" rpy="0 0 0" />
      <mass value="0.747802" />
      <inertia ixx="0.000985" ixy="8e-06" ixz="-1.1e-05" iyy="0.001162" iyz="-7.3e-05" izz="0.000722" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/left_ankle_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    
  </link>
  <joint name="left_ankle_pitch_joint" type="revolute">
    <origin xyz="-0.0100000000000136 -0.000124910735236235 -0.282000000000081" rpy="0 0 0" />
    <parent link="left_knee_link" />
    <child link="left_ankle_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.803" upper="0.453" effort="36" velocity="13.087" />
  </joint>
  <link name="left_ankle_roll_link">
    <inertial>
      <origin xyz="0.035428 2.5e-05 -0.049572" rpy="0 0 0" />
      <mass value="1.016166" />
      <inertia ixx="0.0037" ixy="2e-06" ixz="-0.001872" iyy="0.007937" iyz="-1e-06" izz="0.005766" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/left_ankle_roll_link.STL" />
      </geometry>
      <material name="yellow">
        <color rgba="1.0 0.5 0.0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.05 0.050 -0.068" rpy="0 0 0" />
      <geometry>
          <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.065 0.025 -0.068" rpy="0 0 0" />
      <geometry>
          <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.05 -0.050 -0.068" rpy="0 0 0" />
      <geometry>
          <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.065 -0.025 -0.068" rpy="0 0 0" />
      <geometry>
          <sphere radius="0.005" />
      </geometry>
    </collision>

    <collision>
      <origin xyz="0.11 0.05 -0.068" rpy="0 0 0" />
      <geometry>
          <sphere radius="0.005" />
      </geometry>
    </collision>

    <collision>
      <origin xyz="0.11 -0.05 -0.068" rpy="0 0 0" />
      <geometry>
          <sphere radius="0.005" />
      </geometry>
    </collision>

    <collision>
      <origin xyz="-0.02 -0.06 -0.068" rpy="0 0 0" />
      <geometry>
          <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.02 0.06 -0.068" rpy="0 0 0" />
      <geometry>
          <sphere radius="0.005" />
      </geometry>
    </collision>

    <collision>
      <origin xyz="0.07 -0.06 -0.068" rpy="0 0 0" />
      <geometry>
          <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.07 0.06 -0.068" rpy="0 0 0" />
      <geometry>
          <sphere radius="0.005" />
      </geometry>
    </collision>

    <collision>
      <origin xyz="0.139 -0.0 -0.066" rpy="0 0 0" />
      <geometry>
          <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.128 -0.0 -0.02" rpy="0 0 0" />
      <geometry>
          <sphere radius="0.005" />
      </geometry>
    </collision>
    
  </link>
  <joint name="left_ankle_roll_joint" type="revolute">
    <origin xyz="-0.00174999998947351 0 0" rpy="0 0 0" />
    <parent link="left_ankle_pitch_link" />
    <child link="left_ankle_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.262" upper="0.262" effort="24" velocity="15.077" />
  </joint>
  <link name="right_hip_pitch_link">
    <inertial>
      <origin xyz="0.007909 -0.064114 0.000131" rpy="0 0 0" />
      <mass value="1.400227" />
      <inertia ixx="0.007996" ixy="-0.00074" ixz="0.0" iyy="0.00164" iyz="-1e-06" izz="0.007409" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/right_hip_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    
  </link>
  <joint name="right_hip_pitch_joint" type="revolute">
    <origin xyz="0 -0.0713499997541464 0" rpy="0 0 0" />
    <parent link="pelvis" />
    <child link="right_hip_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.704" upper="2.556" effort="120" velocity="11.936" />
  </joint>
  <link name="right_hip_roll_link">
    <inertial>
      <origin xyz="-0.000586 -0.000228 -0.093568" rpy="0 0 0" />
      <mass value="1.585084" />
      <inertia ixx="0.017694" ixy="4e-06" ixz="2.2e-05" iyy="0.018116" iyz="2.2e-05" izz="0.002516" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/right_hip_roll_link.STL" />
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/right_hip_roll_link.STL" scale="1.0 0.9 1.0" />
      </geometry>
    </collision>
  </link>
  <joint name="right_hip_roll_joint" type="revolute">
    <origin xyz="0 -0.0657000004916197 0" rpy="0 0 0" />
    <parent link="right_hip_pitch_link" />
    <child link="right_hip_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-2.906" upper="0.235" effort="120" velocity="11.936" />
  </joint>
  <link name="right_hip_yaw_link">
    <inertial>
      <origin xyz="-0.002444 -0.003935 -0.144335" rpy="0 0 0" />
      <mass value="2.002622" />
      <inertia ixx="0.051833" ixy="7.1e-05" ixz="0.001432" iyy="0.052497" iyz="0.001457" izz="0.002461" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/right_hip_yaw_link.STL" />
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
<collision>
      <origin xyz="0 0 -0.03" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.055" length="0.03" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.018 0 -0.06" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.042" length="0.03" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.018 0 -0.10" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.042" length="0.03" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.01 0 -0.18" rpy="1.571 0 0" />
      <geometry>
        <cylinder radius="0.058" length="0.055" />
      </geometry>
    </collision>
    
  </link>
  <joint name="right_hip_yaw_joint" type="revolute">
    <origin xyz="0 0 -0.136850000000023" rpy="0 0 0" />
    <parent link="right_hip_roll_link" />
    <child link="right_hip_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-3.43" upper="1.684" effort="120" velocity="11.936" />
  </joint>
  <link name="right_knee_link">
    <inertial>
      <origin xyz="-0.002699 -0.003794 -0.122288" rpy="0 0 0" />
      <mass value="1.565881" />
      <inertia ixx="0.03081" ixy="4.5e-05" ixz="0.000184" iyy="0.030822" iyz="0.000508" izz="0.001935" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/right_knee_link.STL" />
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/right_knee_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_knee_joint" type="revolute">
    <origin xyz="-0.00766000000003646 -0.000225000000000253 -0.183100000000014" rpy="0 0 0" />
    <parent link="right_hip_yaw_link" />
    <child link="right_knee_link" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="2.4073" effort="120" velocity="11.936" />
  </joint>
  <link name="right_ankle_pitch_link">
    <inertial>
      <origin xyz="0.011665 0.000937 0.00394" rpy="0 0 0" />
      <mass value="0.749566" />
      <inertia ixx="0.001037" ixy="9e-06" ixz="-1.1e-05" iyy="0.001214" iyz="6.9e-05" izz="0.000723" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/right_ankle_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    
  </link>
  <joint name="right_ankle_pitch_joint" type="revolute">
    <origin xyz="-0.00999999999984942 0.000124910735223305 -0.282000000000021" rpy="0 0 0" />
    <parent link="right_knee_link" />
    <child link="right_ankle_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.803" upper="0.453" effort="36" velocity="13.088" />
  </joint>
  <link name="right_ankle_roll_link">
    <inertial>
      <origin xyz="0.035428 2.5e-05 -0.049572" rpy="0 0 0" />
      <mass value="1.016166" />
      <inertia ixx="0.0037" ixy="2e-06" ixz="-0.001872" iyy="0.007937" iyz="-1e-06" izz="0.005766" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/right_ankle_roll_link.STL" />
      </geometry>
      <material name="yellow">
        <color rgba="1.0 0.5 0.0 1" />
      </material>
    </visual>
    
    <collision>
      <origin xyz="-0.05 0.050 -0.068" rpy="0 0 0" />
      <geometry>
          <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.065 0.025 -0.068" rpy="0 0 0" />
      <geometry>
          <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.05 -0.050 -0.068" rpy="0 0 0" />
      <geometry>
          <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.065 -0.025 -0.068" rpy="0 0 0" />
      <geometry>
          <sphere radius="0.005" />
      </geometry>
    </collision>

    <collision>
      <origin xyz="0.11 0.05 -0.068" rpy="0 0 0" />
      <geometry>
          <sphere radius="0.005" />
      </geometry>
    </collision>

    <collision>
      <origin xyz="0.11 -0.05 -0.068" rpy="0 0 0" />
      <geometry>
          <sphere radius="0.005" />
      </geometry>
    </collision>

    <collision>
      <origin xyz="-0.02 -0.06 -0.068" rpy="0 0 0" />
      <geometry>
          <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.02 0.06 -0.068" rpy="0 0 0" />
      <geometry>
          <sphere radius="0.005" />
      </geometry>
    </collision>

    <collision>
      <origin xyz="0.07 -0.06 -0.068" rpy="0 0 0" />
      <geometry>
          <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.07 0.06 -0.068" rpy="0 0 0" />
      <geometry>
          <sphere radius="0.005" />
      </geometry>
    </collision>

    <collision>
      <origin xyz="0.139 -0.0 -0.066" rpy="0 0 0" />
      <geometry>
          <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.128 -0.0 -0.02" rpy="0 0 0" />
      <geometry>
          <sphere radius="0.005" />
      </geometry>
    </collision>
  </link>
  <joint name="right_ankle_roll_joint" type="revolute">
    <origin xyz="-0.00174999998537372 0 0" rpy="0 0 0" />
    <parent link="right_ankle_pitch_link" />
    <child link="right_ankle_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.2625" upper="0.2625" effort="24" velocity="15.077" />
  </joint>
  <link name="waist_yaw_link">
    <inertial>
      <origin xyz="-0.001359 4.7e-05 0.041703" rpy="0 0 0" />
      <mass value="1.668542" />
      <inertia ixx="0.005012" ixy="1e-06" ixz="-0.000209" iyy="0.005" iyz="1e-06" izz="0.002852" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/waist_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    
  </link>
  <joint name="waist_yaw_joint" type="revolute">
    <origin xyz="0 0 0.0670600000000297" rpy="0 0 0" />
    <parent link="pelvis" />
    <child link="waist_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-3.43" upper="2.382" effort="120" velocity="11.936" />
  </joint>
  <link name="waist_pitch_link">
    <inertial>
      <origin xyz="0.008967 -1e-06 0.0" rpy="0 0 0" />
      <mass value="0.392413" />
      <inertia ixx="0.000133" ixy="0.0" ixz="0.0" iyy="0.000133" iyz="0.0" izz="0.00023" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/waist_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    
  </link>
  <joint name="waist_pitch_joint" type="revolute">
    <origin xyz="0 0 0.0880106468356499" rpy="0 0 0" />
    <parent link="waist_yaw_link" />
    <child link="waist_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.314" upper="0.314" effort="48" velocity="13.088" />
  </joint>
  <link name="torso_link">
    <inertial>
      <origin xyz="-0.000188 0.000605 0.191827" rpy="0 0 0" />
      <mass value="10.144138" />
      <inertia ixx="0.479751" ixy="0.000187" ixz="-0.00677" iyy="0.455998" iyz="0.000833" izz="0.066754" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/torso_plus_link.STL" />
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/torso_plus_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="waist_roll_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="waist_pitch_link" />
    <child link="torso_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.488" upper="0.488" effort="48" velocity="13.088" />
  </joint>
  <link name="imu_in_torso_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/imu_in_torso_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.647058823529412 0.619607843137255 0.588235294117647 1" />
      </material>
    </visual>
  </link>
  <joint name="imu_in_torso_joint" type="fixed">
    <origin xyz="-0.0248787003951661 0.0019852778697029 0.105938055641669" rpy="0 0 0" />
    <parent link="torso_link" />
    <child link="imu_in_torso_link" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="left_shoulder_pitch_link">
    <inertial>
      <origin xyz="0.003007 0.050014 6.2e-05" rpy="0 0 0" />
      <mass value="0.885896" />
      <inertia ixx="0.003023" ixy="0.000137" ixz="-2e-06" iyy="0.000685" iyz="1e-06" izz="0.002929" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/left_shoulder_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    
  </link>
  <joint name="left_shoulder_pitch_joint" type="revolute">
    <origin xyz="0.00329906676354264 0.143031506663431 0.241647721005027" rpy="0.209439453777995 0 0" />
    <parent link="torso_link" />
    <child link="left_shoulder_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-3.08" upper="2.04" effort="36" velocity="13.088" />
  </joint>
  <link name="left_shoulder_roll_link">
    <inertial>
      <origin xyz="0.000621 -0.000183 -0.078842" rpy="0 0 0" />
      <mass value="0.706556" />
      <inertia ixx="0.0054" ixy="0.0" ixz="-6.7e-05" iyy="0.005499" iyz="1.4e-05" izz="0.00054" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/left_shoulder_roll_link.STL" />
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/left_shoulder_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_shoulder_roll_joint" type="revolute">
    <origin xyz="-0.000499991072907324 0.0495 0" rpy="0 0 0" />
    <parent link="left_shoulder_pitch_link" />
    <child link="left_shoulder_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.061" upper="2.993" effort="36" velocity="13.088" />
  </joint>
  <link name="left_shoulder_yaw_link">
    <inertial>
      <origin xyz="0.010005 0.000179 -0.069477" rpy="0 0 0" />
      <mass value="0.704662" />
      <inertia ixx="0.004291" ixy="0.0" ixz="-0.000607" iyy="0.004367" iyz="-8e-06" izz="0.000543" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/left_shoulder_yaw_link.STL" />
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.01" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.042" length="0.05" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.013 0 -0.067" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.028" length="0.024" />
      </geometry>
    </collision>
    
  </link>
  <joint name="left_shoulder_yaw_joint" type="revolute">
    <origin xyz="0.00122423638490546 0 -0.121194848262102" rpy="0 -0.00597565694965793 0" />
    <parent link="left_shoulder_roll_link" />
    <child link="left_shoulder_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.556" upper="2.556" effort="24" velocity="15.077" />
  </joint>
  <link name="left_elbow_link">
    <inertial>
      <origin xyz="-0.013174 0.003788 -0.080203" rpy="0 0 0" />
      <mass value="0.688008" />
      <inertia ixx="0.00527" ixy="-1.9e-05" ixz="0.000743" iyy="0.005332" iyz="-9.4e-05" izz="0.000563" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/left_elbow_link.STL" />
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.012 0 -0.05" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.04" length="0.09" />
      </geometry>
    </collision>
  </link>
  <joint name="left_elbow_joint" type="revolute">
    <origin xyz="0.0140000000488655 0.000199986464082369 -0.0829500000002385" rpy="0 0.00597565694965793 0" />
    <parent link="left_shoulder_yaw_link" />
    <child link="left_elbow_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.3556" upper="0" effort="24" velocity="15.077" />
  </joint>
  <link name="left_wrist_yaw_link">
    <inertial>
      <origin xyz="7.6e-05 0.007263 -0.030679" rpy="0 0 0" />
      <mass value="0.360708" />
      <inertia ixx="0.000612" ixy="-2e-06" ixz="1e-06" iyy="0.000507" iyz="-8e-05" izz="0.000208" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/left_wrist_yaw_link.STL" />
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/left_wrist_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_wrist_yaw_joint" type="revolute">
    <origin xyz="-0.0132797235062217 -9.75487744990788E-05 -0.120575783591803" rpy="0 0 0" />
    <parent link="left_elbow_link" />
    <child link="left_wrist_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.556" upper="2.556" effort="24" velocity="15.077" />
  </joint>
  <link name="left_wrist_pitch_link">
    <inertial>
      <origin xyz="0.011479 0.002282 0.001703" rpy="0 0 0" />
      <mass value="0.292062" />
      <inertia ixx="9.2e-05" ixy="7e-06" ixz="5e-06" iyy="0.000153" iyz="1.9e-05" izz="0.000163" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/left_wrist_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.3 0.3 0.3 1" />
      </material>
    </visual>
    
  </link>
  <joint name="left_wrist_pitch_joint" type="revolute">
    <origin xyz="0.000490001227040848 0 -0.0819985359552045" rpy="0 -0.00597566028430406 0" />
    <parent link="left_wrist_yaw_link" />
    <child link="left_wrist_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.558" upper="0.558" effort="4.8" velocity="4.188" />
  </joint>
  <link name="left_wrist_roll_link">
    <inertial>
      <origin xyz="0.002935 -0.001499 -0.083026" rpy="0 0 0" />
      <mass value="0.30304" />
      <inertia ixx="0.002667" ixy="-2.8e-05" ixz="-0.000106" iyy="0.002772" iyz="4.9e-05" izz="0.000211" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/left_wrist_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.1" rpy="0 0 0" />
      <geometry>
        <box size="0.07 0.045 0.14" />
      </geometry>
    </collision>
    
  </link>
  <joint name="left_wrist_roll_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="left_wrist_pitch_link" />
    <child link="left_wrist_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-1.571" upper="0.724" effort="4.8" velocity="4.188" />
  </joint>
  <link name="right_shoulder_pitch_link">
    <inertial>
      <origin xyz="0.002721 -0.050304 3.4e-05" rpy="0 0 0" />
      <mass value="0.885544" />
      <inertia ixx="0.003031" ixy="-0.000123" ixz="-1e-06" iyy="0.000681" iyz="0.0" izz="0.002949" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/right_shoulder_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    
  </link>
  <joint name="right_shoulder_pitch_joint" type="revolute">
    <origin xyz="0.00330093831251838 -0.143030971450747 0.241648201390685" rpy="-0.209442812383636 0 0" />
    <parent link="torso_link" />
    <child link="right_shoulder_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-3.08" upper="2.04" effort="36" velocity="13.088" />
  </joint>
  <link name="right_shoulder_roll_link">
    <inertial>
      <origin xyz="0.000598 0.000185 -0.079928" rpy="0 0 0" />
      <mass value="0.696963" />
      <inertia ixx="0.0054" ixy="0.0" ixz="-3.8e-05" iyy="0.005489" iyz="-1.4e-05" izz="0.00053" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/right_shoulder_roll_link.STL" />
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/right_shoulder_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_shoulder_roll_joint" type="revolute">
    <origin xyz="-0.000499999994070091 -0.0495000000000002 0" rpy="0 0.000154003092926045 0" />
    <parent link="right_shoulder_pitch_link" />
    <child link="right_shoulder_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-2.993" upper="0.061" effort="36" velocity="13.088" />
  </joint>
  <link name="right_shoulder_yaw_link">
    <inertial>
      <origin xyz="0.010082 -0.000178 -0.069484" rpy="0 0 0" />
      <mass value="0.704661" />
      <inertia ixx="0.004292" ixy="0.0" ixz="-0.000609" iyy="0.004366" iyz="8e-06" izz="0.000542" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/right_shoulder_yaw_link.STL" />
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
  <collision>
      <origin xyz="0 0 -0.01" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.042" length="0.05" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.013 0 -0.067" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.028" length="0.024" />
      </geometry>
    </collision> 
    
  </link>
  <joint name="right_shoulder_yaw_joint" type="revolute">
    <origin xyz="0.000499999999999765 0 -0.121199999999934" rpy="0 0 0" />
    <parent link="right_shoulder_roll_link" />
    <child link="right_shoulder_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.556" upper="2.556" effort="24" velocity="15.077" />
  </joint>
  <link name="right_elbow_link">
    <inertial>
      <origin xyz="-0.013517 -0.003463 -0.080438" rpy="0 0 0" />
      <mass value="0.687932" />
      <inertia ixx="0.005285" ixy="1.7e-05" ixz="0.000767" iyy="0.005356" iyz="8e-05" izz="0.000567" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/right_elbow_link.STL" />
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.012 0 -0.05" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.04" length="0.09" />
      </geometry>
    </collision>
    
  </link>
  <joint name="right_elbow_joint" type="revolute">
    <origin xyz="0.0139999999999662 -0.0002000000000143 -0.0829500000000745" rpy="0 0 0" />
    <parent link="right_shoulder_yaw_link" />
    <child link="right_elbow_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.3556" upper="0" effort="24" velocity="15.077" />
  </joint>
  <link name="right_wrist_yaw_link">
    <inertial>
      <origin xyz="0.000153 -0.006979 -0.032069" rpy="0 0 0" />
      <mass value="0.372787" />
      <inertia ixx="0.000696" ixy="2e-06" ixz="0.0" iyy="0.000583" iyz="7.7e-05" izz="0.000218" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/right_wrist_yaw_link.STL" />
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/right_wrist_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_wrist_yaw_joint" type="revolute">
    <origin xyz="-0.0140000017961392 9.7526096753231E-05 -0.120694276209686" rpy="0 0 3.27341906322599E-05" />
    <parent link="right_elbow_link" />
    <child link="right_wrist_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.556" upper="2.556" effort="24" velocity="15.077" />
  </joint>
  <link name="right_wrist_pitch_link">
    <inertial>
      <origin xyz="0.012092 -0.002544 0.001781" rpy="0 0 0" />
      <mass value="0.279175" />
      <inertia ixx="8.3e-05" ixy="-8e-06" ixz="5e-06" iyy="0.000151" iyz="-1.9e-05" izz="0.000153" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/right_wrist_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.3 0.3 0.3 1" />
      </material>
    </visual>
    
  </link>
  <joint name="right_wrist_pitch_joint" type="revolute">
    <origin xyz="0 0 -0.081799999999999" rpy="0 0 -3.27341932546355E-05" />
    <parent link="right_wrist_yaw_link" />
    <child link="right_wrist_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.558" upper="0.558" effort="4.8" velocity="4.188" />
  </joint>
  <link name="right_wrist_roll_link">
    <inertial>
      <origin xyz="0.003056 0.00138 -0.082799" rpy="0 0 0" />
      <mass value="0.303847" />
      <inertia ixx="0.002666" ixy="2.8e-05" ixz="-0.000112" iyy="0.002772" iyz="-4.6e-05" izz="0.000212" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/right_wrist_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.1" rpy="0 0 0" />
      <geometry>
        <box size="0.07 0.045 0.14" />
      </geometry>
    </collision>
    
  </link>
  <joint name="right_wrist_roll_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="right_wrist_pitch_link" />
    <child link="right_wrist_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.724" upper="1.571" effort="4.8" velocity="4.188" />
  </joint>
  <link name="head_yaw_link">
    <inertial>
      <origin xyz="-0.003139 0.001399 0.051838" rpy="0 0 0" />
      <mass value="0.720047" />
      <inertia ixx="0.003861" ixy="9e-06" ixz="-2.1e-05" iyy="0.003231" iyz="-3.9e-05" izz="0.001103" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/head_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.866666666666667 0.866666666666667 0.890196078431372 1" />
      </material>
    </visual>
    
  </link>
  <joint name="head_yaw_joint" type="revolute">
    <origin xyz="0.00834772789983268 0 0.309397077276121" rpy="0 0 0" />
    <parent link="torso_link" />
    <child link="head_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-0.366" upper="0.366" effort="2.6" velocity="6.019" />
  </joint>
  <link name="head_pitch_link">
    <inertial>
      <origin xyz="0.003033 -6e-05 0.004395" rpy="0 0 0" />
      <mass value="0.999287" />
      <inertia ixx="0.002913" ixy="1.7e-05" ixz="0.000147" iyy="0.003598" iyz="-2.2e-05" izz="0.002668" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/head_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.2 0.2 0.2 1" />
      </material>
    </visual>
    
  </link>
  <joint name="head_pitch_joint" type="revolute">
    <origin xyz="0 0 0.0889" rpy="0 0 0" />
    <parent link="head_yaw_link" />
    <child link="head_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.3838" upper="0.3838" effort="0.6" velocity="6.28" />
  </joint>
  <link name="imu_in_head_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/imu_in_head_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.647058823529412 0.619607843137255 0.588235294117647 1" />
      </material>
    </visual>
  </link>
  <joint name="imu_in_head_joint" type="fixed">
    <origin xyz="0.0259998716312927 -8.2538922380776E-05 0.0175999960932565" rpy="0 0 0" />
    <parent link="head_pitch_link" />
    <child link="imu_in_head_link" />
    <axis xyz="0 0 0" />
  </joint>

  
  
  <link name="rgbd_head_front">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/rgbd_head_front_Link.STL" />
      </geometry>
    </visual>
  </link>
  <joint name="rgbd_head_front" type="fixed">
    <origin xyz="0.05761 -0.011183 -0.04837" rpy="2.2689 0 1.5708" />
    <parent link="head_pitch_link" />
    <child link="rgbd_head_front" />
    <axis xyz="0 0 0" />
  </joint>

  
  <link name="stereo_head_front">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/stereo_head_front_Link.STL" />
      </geometry>
    </visual>
  </link>
  <joint name="stereo_head_front" type="fixed">
    <origin xyz="0.067995 0.029784 0.05" rpy="-1.5708 0 -1.574" />
    <parent link="head_pitch_link" />
    <child link="stereo_head_front" />
    <axis xyz="0 0 0" />
  </joint>

  
  <link name="rgb_head_rear">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/rgb_head_rear_Link.STL" />
      </geometry>
    </visual>
  </link>
  <joint name="rgb_head_rear" type="fixed">
    <origin xyz="-0.0834 0.00026495 0" rpy="-1.5708 0 1.5676" />
    <parent link="head_pitch_link" />
    <child link="rgb_head_rear" />
    <axis xyz="0 0 0" />
  </joint>

  
  <link name="rgb_head_center">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://humanoid_urdf/meshes/rgb_head_center_Link.STL" />
      </geometry>
    </visual>
  </link>
  <joint name="rgb_head_center" type="fixed">
    <origin xyz="0.0684 -0.00021713 0.05" rpy="-1.5708 0 -1.574" />
    <parent link="head_pitch_link" />
    <child link="rgb_head_center" />
    <axis xyz="0 0 0" />
  </joint>

  
  

</robot>