<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find 2026【哮天】2.0（仿真模型）(UR3))/urdf/2026【哮天】2.0（仿真模型）(UR3).urdf" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find 2026【哮天】2.0（仿真模型）(UR3))/urdf.rviz" />
</launch>