<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="two_dof_robot">

  <!-- Whether or not to use PID control -->
  <xacro:arg name="use_pid" default="false"/>
  <xacro:arg name="headless" default="false"/>
  <xacro:arg name="use_mjcf_from_topic" default="false"/>
  <xacro:arg name="use_transmissions" default="false"/>

  <link name="world"/>

  <link name="base"/>
  <joint name="base_link" type="fixed">
    <axis rpy="0 0 0" xyz="0 0 0"/>
    <parent link="world"/>
    <child link="base"/>
  </joint>

  <link name="upperarm">
    <inertial>
      <origin xyz="0.5 0 0" rpy="0 0 0"/>
      <mass value="27.0"/>
      <inertia ixx="0.0225" ixy="0.0" ixz="0.0" iyy="0.225" iyz="0.0" izz="0.225"/>
    </inertial>
    <visual>
      <geometry>
        <box size="1.0 0.1 0.1"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.5 0 0"/>
      <material name="red">
        <color rgba="1.0 0 0 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="1.0 0.1 0.1"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.5 0 0"/>
    </collision>
  </link>
  <joint name="joint1" type="revolute">
    <axis rpy="0 0 0" xyz="0 1 0"/>
    <parent link="base"/>
    <child link="upperarm"/>
    <limit lower="-3.14" upper="3.14" velocity="3.14" effort="1000" />
  </joint>

  <link name="forearm">
    <inertial>
      <origin xyz="0.5 0 0" rpy="0 0 0"/>
      <mass value="27.0"/>
      <inertia ixx="0.0225" ixy="0.0" ixz="0.0" iyy="0.225" iyz="0.0" izz="0.225"/>
    </inertial>
    <visual>
      <geometry>
        <box size="1.0 0.1 0.1"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.5 0 0"/>
      <material name="blue">
        <color rgba="0 0 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="1.0 0.1 0.1"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.5 0 0"/>
    </collision>
  </link>
  <joint name="joint2" type="revolute">
    <axis rpy="0 0 0" xyz="0 1 0"/>
    <parent link="upperarm"/>
    <child link="forearm"/>
    <origin rpy="0 0 0" xyz="1 0 0"/>
    <limit lower="-3.14" upper="3.14" velocity="3.14" effort="1000" />
  </joint>

  <link name="ee_link" />
  <joint name="ee_joint" type="fixed">
    <parent link="forearm"/>
    <child link="ee_link"/>
    <origin rpy="0 0 0" xyz="1 0 0"/>
  </joint>

  <link name="gripper_base">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.5"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.08 0.12 0.04"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.08 0.12 0.04"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>
  </link>
  <joint name="gripper_base_joint" type="fixed">
    <parent link="ee_link"/>
    <child link="gripper_base"/>
    <origin rpy="0 1.5708 0" xyz="0.04 0 -0.02"/>
  </joint>

  <link name="gripper_left_finger">
    <inertial>
      <origin xyz="0 0 0.05" rpy="0 0 0"/>
      <mass value="0.1"/>
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.00001"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.02 0.01 0.1"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.05"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.02 0.01 0.1"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.05"/>
    </collision>
  </link>
  <joint name="gripper_left_finger_joint" type="prismatic">
    <axis xyz="0 1 0"/>
    <parent link="gripper_base"/>
    <child link="gripper_left_finger"/>
    <origin rpy="0 0 0" xyz="0 0.05 0"/>
    <limit lower="-0.045" upper="0.005" velocity="0.1" effort="50" />
  </joint>

  <link name="gripper_right_finger">
    <inertial>
      <origin xyz="0 0 0.05" rpy="0 0 0"/>
      <mass value="0.1"/>
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.00001"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.02 0.01 0.1"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.05"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.02 0.05 0.1"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.05"/>
    </collision>
  </link>
  <joint name="gripper_right_finger_joint" type="prismatic">
    <axis xyz="0 1 0"/>
    <parent link="gripper_base"/>
    <child link="gripper_right_finger"/>
    <origin rpy="0 0 0" xyz="0 -0.05 0"/>
    <limit lower="-0.005" upper="0.045" velocity="0.1" effort="50" />
    <mimic joint="gripper_left_finger_joint" multiplier="-1" offset="0"/>
  </joint>

  <link name="camera_link">
    <visual>
      <geometry>
        <box size="0.1 0.1 0.1" />
      </geometry>
      <material name="dark_grey">
        <color rgba="0.2 0.2 0.2 1.0"/>
      </material>
    </visual>
  </link>
  <joint name="camera_joint" type="fixed">
    <parent link="ee_link"/>
    <child link="camera_link"/>
    <origin xyz="0.05 0 0.1" rpy="0 0 0"/>
  </joint>

  <link name="camera_color_frame"/>
  <joint name="camera_color_joint" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_color_frame"/>
    <origin xyz="-0.05 0 0" rpy="0 0 0"/>
  </joint>

  <!-- The camera looks backwards along the axis of the forearm, following the standard ROS image conventions -->
  <!-- https://github.com/ros2/common_interfaces/blob/rolling/sensor_msgs/msg/Image.msg#L7 -->
  <link name="camera_color_optical_frame"/>
  <joint name="camera_color_optical_joint" type="fixed">
    <parent link="camera_color_frame"/>
    <child link="camera_color_optical_frame"/>
    <origin xyz="0 0 0" rpy="-1.5708 0 1.5708"/>
  </joint>

  <!-- For the sake of visibility, this is where the MuJoCo camera should end up -->
  <link name="camera_color_mujoco_frame"/>
  <joint name="camera_color_mujoco_joint" type="fixed">
    <parent link="camera_color_optical_frame"/>
    <child link="camera_color_mujoco_frame"/>
    <origin xyz="0 0 0" rpy="3.14159 0 0"/>
  </joint>

  <!-- In the URDF, the lidar sensor's Z-axis should point "up" so that the sensor data sweeps -->
  <!-- counter clockwise. We expect the X-axis to be in line with the first rangefinder's Z-axis. -->
  <link name="lidar_sensor_frame" />
  <joint name="lidar_sensor_link" type="fixed">
    <parent link="world"/>
    <child link="lidar_sensor_frame"/>
    <origin rpy="0 0 -1.5708" xyz="1.0 2.0 0"/>
  </joint>

  <!-- To test the model generation from tags within the URDF, we test that when both -->
  <!-- `use_mjcf_from_topic` and `use_pid` args are set to true -->
  <xacro:if value="$(eval use_mjcf_from_topic)">
    <xacro:if value="$(eval use_pid)">
      <mujoco_inputs>

        <!-- The contents of `raw_inputs` will be copied and pasted directly into the MJCF -->
        <raw_inputs>
          <option integrator="implicitfast"/>

          <default>
            <default class="visual">
              <geom group="2" type="mesh" contype="0" conaffinity="0"/>
            </default>
            <default class="collision">
              <geom group="3" type="mesh"/>
            </default>
          </default>

          <actuator>
            <position name="joint1" joint="joint1" kp="25000" dampratio="1.0" ctrlrange="-3.14159 3.14159" />
            <position name="joint2" joint="joint2" kp="25000" dampratio="1.0" ctrlrange="-3.14159 3.14159" />
            <position tendon="split" name="gripper_left_finger_joint" kp="1000" dampratio="3.0" ctrlrange="-0.09 0.005" />
          </actuator>

          <tendon>
            <fixed name="split">
              <joint joint="gripper_left_finger_joint" coef="0.5"/>
              <joint joint="gripper_right_finger_joint" coef="-0.5"/>
            </fixed>
          </tendon>

          <equality>
            <joint joint1="gripper_left_finger_joint" joint2="gripper_right_finger_joint" polycoef="0 -1 0 0 0" solimp="0.95 0.99 0.001" solref="0.005 1"/>
          </equality>

          <sensor>
            <rangefinder name="lidar" site="rf" />
            <framequat name="body_quat" objtype="site" objname="base"/>
            <framepos name="body_pos" objtype="site" objname="base"/>
            <magnetometer name="body_magnetometer" site="base"/>
          </sensor>
        </raw_inputs>

        <!-- Specific inputs that require processing from the conversion script-->
        <processed_inputs>
          <!-- Specifying decompose_mesh will set the `decompose` flag when using obj2mjcf -->
          <!-- <decompose_mesh mesh_name="forearm" threshold="0.05"/> -->

          <!-- The camera with the specified values will be added at the specified site name. -->
          <!-- The position and quaterinion will be filled in by the converter -->
          <camera site="camera_color_optical_frame" name="camera" fovy="58" mode="fixed" resolution="640 480"/>

          <!-- Adds a lidar tag below a site tag to support a lidar sensor. -->
          <!-- In the URDF, we assume that that the sensor frame has the Z-axis pointed directly up in the sensor -->
          <!-- frame. This tag will create rangefinders in the MJCF between min_angle and max_angle at each -->
          <!-- angle_increment rotated about the replicate frame's Y axis. The hardware intercface then combines -->
          <!-- them into a single LaserScan message. -->
          <lidar ref_site="lidar_sensor_frame" sensor_name="rf" min_angle="-0.3" max_angle="0.3" angle_increment="0.025" />

          <!-- The element with the type and name as listed below will be modified with the remaining attributes -->
          <!-- If the attribute already existed, it will be overwritten -->
          <!-- Note that the type and name elements are required -->
          <modify_element type="joint" name="joint1" frictionloss="1.0" damping="2.0"/>
          <modify_element type="body" name="forearm" gravcomp="1.0"/>

        </processed_inputs>

        <!-- scene tag inside the xacro also allows to generate the mjcf description with the scene information -->
        <scene>
          <statistic center="0.4 0 0.4" extent="1"/>

          <visual>
            <headlight diffuse="0.6 0.6 0.6" ambient="0.1 0.1 0.1" specular="0 0 0"/>
            <rgba haze="0.15 0.25 0.35 1"/>
            <global azimuth="120" elevation="-20"/>
          </visual>

          <asset>
            <texture type="skybox" builtin="gradient" rgb1="0.3 0.5 0.7" rgb2="0 0 0" width="512" height="3072"/>
            <texture type="2d" name="groundplane" builtin="checker" mark="edge" rgb1="0.2 0.3 0.4" rgb2="0.1 0.2 0.3"
              markrgb="0.8 0.8 0.8" width="300" height="300"/>
            <material name="groundplane" texture="groundplane" texuniform="true" texrepeat="5 5"/>
          </asset>

          <worldbody>
            <light pos="0 0 1.5" dir="0 0 -1" directional="true"/>
          </worldbody>
        </scene>
      </mujoco_inputs>
    </xacro:if>
  </xacro:if>

  <!-- ROS2 Control Configuration -->
  <ros2_control name="MujocoSystem" type="system">
    <hardware>
      <plugin>mujoco_ros2_control/MujocoSystemInterface</plugin>

      <!-- Conditional mujoco_model parameter based on use_pid -->
      <xacro:if value="$(arg use_pid)">
        <param name="pids_config_file">$(find mujoco_ros2_control_demos)/config/mujoco_pid.yaml</param>
      </xacro:if>

      <xacro:unless value="$(arg use_mjcf_from_topic)">
        <xacro:if value="$(arg use_pid)">
            <param name="mujoco_model">
                $(find mujoco_ros2_control_demos)/demo_resources/scenes/scene_pid.xml
            </param>
        </xacro:if>

        <xacro:unless value="$(arg use_pid)">
          <param name="mujoco_model">$(find mujoco_ros2_control_demos)/demo_resources/scenes/scene.xml</param>
        </xacro:unless>
      </xacro:unless>

      <!-- Uncomment this to use the keyframe from shown file as the starting configuration. -->
      <!-- <param name="override_start_position_file">$(find mujoco_ros2_control_demos)/config/start_positions.xml</param> -->

      <!-- Override the slowdown settings in the Simulate App and run at 3x speed -->
      <param name="sim_speed_factor">1.0</param>

      <!-- Uncomment to start the simulation at a specific keyframe defined in the MJCF -->
      <!-- <param name="initial_keyframe">start_90</param> -->

      <!-- If set to true, will not launch the Simulate App window -->
      <param name="headless">$(arg headless)</param>

    </hardware>
    <joint name="joint1">
      <command_interface name="position"/>
      <xacro:if value="$(arg use_pid)">
        <command_interface name="velocity"/>
      </xacro:if>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>

      <!-- Effort and torque are semantically different but map to the same underlying data. -->
      <state_interface name="effort"/>
      <state_interface name="torque"/>
    </joint>

    <joint name="joint2">
      <command_interface name="position"/>
      <xacro:if value="$(arg use_pid)">
        <command_interface name="velocity"/>
      </xacro:if>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>

       <!-- Effort and torque are semantically different but map to the same underlying data. -->
      <state_interface name="effort"/>
      <state_interface name="torque"/>
    </joint>

    <joint name="gripper_left_finger_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
      <state_interface name="force"/>
    </joint>

    <joint name="gripper_right_finger_joint">
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
      <state_interface name="force"/>
    </joint>

    <xacro:if value="$(eval use_transmissions)">
      <!-- When the transmission is added to the ros2_control tag, the simulation tries to look
      for the actuators in the parsed MJCF description. In order to test this setup, we do it by
      modifying the robot description contents in 04_transmissions.launch.py -->
      <transmission name="arm_trans">
        <plugin>transmission_interface/DifferentialTransmission</plugin>
        <joint name="joint1" role="joint1">
          <mechanical_reduction>2.0</mechanical_reduction>
          <offset>0.0</offset>
        </joint>
        <joint name="joint2" role="joint2">
          <mechanical_reduction>0.5</mechanical_reduction>
          <offset>0.0</offset>
        </joint>
        <actuator name="actuator1" role="actuator1"/>
        <actuator name="actuator2" role="actuator2"/>
      </transmission>
    </xacro:if>

    <!-- For cameras, the sensor name _must_ match the camera name in the MJCF -->
    <sensor name="camera">
      <!-- Parameters will be used as is -->
      <param name="frame_name">camera_color_mujoco_frame</param>
      <param name="info_topic">/camera/color/camera_info</param>
      <param name="image_topic">/camera/color/image_raw</param>
      <param name="depth_topic">/camera/aligned_depth_to_color/image_raw</param>
    </sensor>

    <!-- WARNING: These lidar sensors are deprecated, including for test and legacy support only! -->
    <sensor name="lidar">
      <param name="frame_name">lidar_sensor_frame</param>
      <param name="angle_increment">0.025</param>
      <param name="min_angle">-0.3</param>
      <param name="max_angle">0.3</param>
      <param name="range_min">0.05</param>
      <param name="range_max">10</param>
      <param name="laserscan_topic">/scan</param>
    </sensor>

    <sensor name="pose">
      <param name="mujoco_type">pose</param>
      <param name="mujoco_sensor_name">body</param>

      <state_interface name="position.x" />
      <state_interface name="position.y" />
      <state_interface name="position.z" />

      <state_interface name="orientation.x" />
      <state_interface name="orientation.y" />
      <state_interface name="orientation.z" />
      <state_interface name="orientation.w" />
    </sensor>

    <sensor name="magnetometer">
      <param name="mujoco_type">magnetometer</param>
      <param name="mujoco_sensor_name">body_magnetometer</param>

      <state_interface name="magnetic_field.x" />
      <state_interface name="magnetic_field.y" />
      <state_interface name="magnetic_field.z" />
    </sensor>

  </ros2_control>
</robot>
