__pycache__/
*.py[cod]
*.so

.pytest_cache/
.mypy_cache/
.ruff_cache/

*.egg-info/
build/
dist/

logs/*
!logs/rsl_rl/
logs/rsl_rl/*
!logs/rsl_rl/g1_stair/
logs/rsl_rl/g1_stair/*
!logs/rsl_rl/g1_stair/stair_test/
logs/rsl_rl/g1_stair/stair_test/*
wandb/

*.pt
*.pth
*.onnx
!logs/rsl_rl/g1_stair/stair_test/policy.onnx
